export CONDA_DIR="/home/andy/miniconda3"
export PYTHONPATH="$PWD/uiTestHarness"

# load conda into this shell
source "$CONDA_DIR/etc/profile.d/conda.sh"

# now activate works reliably
layout conda py313